<nav class="navbar navbar-expand-lg navbar-light bg-navbar shadow pt-4 px-4 px-md-0">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <button class="btn pl-0" (click)="toggleSidebar()">
      <img src="../../../assets/images/icon-menu.svg" alt />
    </button>
    <div class="d-flex align-items-center color-blue-third">
      <app-change-lang></app-change-lang>
      <p class="d-none d-sm-block font-size-14 m-0 text-white font-weight-medium">{{"NAV_COMPONENT.USER" | translate}}:
        {{authService.getAuthenticatedUser().name}}</p>
      <a class="d-none d-sm-block nav-link text-white ml-3 px-0" href="/pages/notifications">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell-fill color-blue-third" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7
            0-2.42-1.72-4.44-4.005-4.901z" />
        </svg>
      </a>
      <button class="btn btn-second d-flex justify-content-center text-white align-items-center ml-3 " (click)="sair()">
        <img src="../../../assets/images/log-out.svg" class="col-2 px-0 mr-2" alt />
        {{"NAV_COMPONENT.LOGOUT" | translate}}
      </button>
    </div>
  </div>
</nav>