<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>Contratos</h1>
            <hr class="bg-primary">
        </div>
    </div>

    <div *ngFor="let item of convenios; let i= index;" class="row p-3 user-data-border mt-5 cursor-pointer"
        [routerLink]="['/associacao/contrato-data/' + item._id]">

        <div class="row col-12 p-2">
            <div class="col-12 col-md-10">
                <h5 class="text-dark"> <b> Contrato </b></h5>
            </div>
            <div class="col-12 col-md-2">
                <h6 class="font-poppins f-size-14 text-secondary">Status</h6>
                <h5 *ngIf="item.status ==='Assinado'" class="f-size-16 text-primary">{{item.status}}</h5>
                <h5 *ngIf="item.status ==='aguardando_assinaturas'" class="f-size-16 text-dark"> Aguardando Assinaturas
                </h5>
                <h5 *ngIf="item.status ==='concluido'" class="f-size-16 text-dark"> {{item.status}}</h5>
            </div>
        </div>

        <div class="col-12 col-lg-2 p-2">
            <h6 class="font-poppins f-size-14 text-dark">Licitação</h6>
            <h6 class="font-poppins f-size-16 text-secondary">{{item?.contract_number}}</h6>
        </div>

        <div class="col-12 col-lg-2 p-2">
            <h6 class="font-poppins f-size-14 text-dark">Valor</h6>
            <h6 class="font-poppins f-size-16 text-secondary">{{item?.value | currency:'R$'}}</h6>
        </div>

    </div>
</div>