<div class="container">
    <div class="row mt-5 ">
        <div class="col-md-12">
            <div class="row d-flex justify-content-between">
                <div class="col-md-4">
                    <h1 class="text-dark"><strong>Contrato</strong></h1>

                </div>
                <div class="col-md-4 mt-4 ">
                    <button type="button" class="bg-pattern mt-1 text-light w-100 h50 br-10"><strong>Atualizar
                            Contrato</strong></button>
                </div>
            </div>
            <hr class="bg-primary">

        </div>
    </div>
    <div class="row ">
        <div *ngFor="let item of contratosList | paginate: { itemsPerPage: itensPerPage, currentPage: currentPage }; let i= index;" class="col-md-11 border mt-2 br-10 py-3 m-3">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-0 text-dark"><strong>Contrato {{item.titulo}}</strong></h2>
                </div>
                <div class="col-md-12">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4 mt-2 ">
                                    <h6 class="font-poppins f-size-14 text-secondary">Licitação</h6>
                                    <h5 class="f-size-16">{{item.licitacao}}</h5>
                                </div>
                                <div class="col-md-2 mt-2 ">
                                    <h6 class="font-poppins f-size-14 text-secondary">Valor</h6>
                                    <h5 class="f-size-16">{{item.valor | currency: 'BRL'}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row d-flex justify-content-end">
                                <div class="col-md-4 text-capitalize">
                                    <h6 class="font-poppins f-size-14 text-secondary">Status</h6>
                                    <h5 *ngIf="item.status ==='Assinado'" class="f-size-16 text-primary">{{item.status}}</h5>
                                    <h5 *ngIf="item.status ==='Aguardando Assinatura'" class="f-size-16 text-dark"> {{item.status}}</h5>
                                </div>
                                <div class="col-md-5 d-flex align-items-center">
                                    <button type="button" (click)="detailContract(item)" class=" w-100 h50 br-10 btn btn-dark"><strong>Detalhes</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 d-flex justify-content-end">
                <pagination-controls (pageChange)="currentPage= $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>