<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12">
      <h1>Fornecedores</h1>
      <hr class="bg-primary">
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row mt-4">
      <div class="col-md-9">
        <input type="text" class="form-control text-secondary input-height-border" formControlName="search"
          placeholder="Busque por nome, documento ou município do fornecedor">
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-secondary btn-lg btn-block"
          [routerLink]="['/pages/fornecedor/registrar-fornecedor']">Novo Fornecedor</button>
      </div>

    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="table-responsive-sm">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Documento</th>
                <th scope="col">Município</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of fornecedor | paginate: { itemsPerPage: itensPerPage, currentPage: currentPage }; let i= index;">
                <th [routerLink]="['/pages/fornecedor/dados-fornecedor/' + item._id]" class="text-capitalize"
                  scope="row">{{item.name}}</th>
                <td [routerLink]="['/pages/fornecedor/dados-fornecedor/' + item._id]" class="text-capitalize">
                  {{item.cpf}}</td>
                <td [routerLink]="['/pages/fornecedor/dados-fornecedor/' + item._id]" class="text-capitalize">
                  {{item.address.city}}</td>
                <td *ngIf="item.block == true" class="text-capitalize">
                  <img src="../../../assets/images/blocked-icon.svg" style="max-height: 20px; max-width: 20px;" alt="">
                </td>
                <td *ngIf="item.block == false" class="text-capitalize">
                  <div style="max-height: 20px;"></div>
                </td>
                <td class="table_icon">
                  <button [routerLink]="['/pages/fornecedor/editar-fornecedor/' + item._id]"
                    class="btn col-lg-12 btn-outline-secondary">

                    <!-- /pages/associacao/editar-associacao/ -->
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                </td>
                <td class="table_icon">
                  <button class="btn col-lg-12 btn-danger" (click)="openModal(item)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>

            </tbody>

          </table>
          <div class="row">
            <div class="col-md-12"> <pagination-controls (pageChange)="currentPage= $event" previousLabel="Anterior"
                nextLabel="Próximo"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>