<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text-dark"><strong>Adicionar Novo Item</strong></h1>
            <hr class="bg-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <section>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label for="code"
                                class="font-archivo font-size-16 font-weight-medium text-secondary m-0"><b>Código</b></label>
                            <input type="text" formControlName="code" class="form-control h50 br-10" id="code"
                                placeholder="Código">

                            <div *ngIf="form.controls['code'].errors?.['required'] && isSubmit"
                                class="div-msg-error mt-2">
                                <img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt="">
                                <p class="font-poppins font-size-14 m-0">Código é obrigatório!</p>
                            </div>
                        </div>

                        <div class="col-md-5 mt-3">
                            <label for="name"
                                class="font-archivo font-size-16 font-weight-medium text-secondary m-0"><b>Nome</b></label>
                            <input type="text" formControlName="name" class="form-control h50 br-10" id="name"
                                placeholder="Nome">
                            <div *ngIf="form.controls['name'].errors?.['required'] && isSubmit"
                                class="div-msg-error mt-2">
                                <img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt="">
                                <p class="font-poppins font-size-14 m-0">Nome é obrigatório!</p>
                            </div>
                            <div *ngIf="form.controls['name'].errors?.['maxlength'] && isSubmit"
                                class="div-msg-error mt-2">
                                <img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt="">
                                <p class="font-poppins font-size-14 m-0">Nome deve conter no máximo 50 caracteres!</p>
                            </div>
                        </div>

                        <div class="col-md-3 mt-3">
                            <label for="unitMeasure"
                                class="font-archivo font-size-16 font-weight-medium text-secondary m-0"><b>Unidade</b></label>
                            <select formControlName="unitMeasure" #unitMeasure id="unitMeasure"
                                class="form-control br-10 h50">
                                <option [disabled]="true" [selected]="true">Selecione</option>
                                <option value="M">M -Metros</option>
                                <option value="CM">CM - Centímetro</option>
                                <option value="MM">MM - Milímetro</option>
                                <option value="KG">KG - Quilograma</option>
                                <option value="G">G -Grama</option>
                                <option value="MG">MG - Miligrama</option>
                                <option value="L">L -Litro</option>
                                <option value="DL">DL - Decilitro</option>
                                <option value="ML">ML - Mililitro</option>
                                <option value="UN">UN - Unidade</option>
                            </select>
                            <div *ngIf="form.controls['unitMeasure'].errors?.['required'] && isSubmit"
                                class="div-msg-error mt-2">
                                <img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt="">
                                <p class="font-poppins font-size-14 m-0">Unidade de Medida é obrigatório!</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 mt-3">
                            <label for="category"
                                class="font-archivo font-size-16 font-weight-medium text-secondary m-0"><b>Categoria /
                                    Segmento</b></label>
                            <select formControlName="category" #category id="category" class="form-control br-10 h50">
                                <option disabled selected value="">Selecione</option>
                                <option *ngFor="let item of categoryList" [value]="item._id">{{item?.identifier}} -
                                    {{item?.category_name}} / {{item?.segment}}</option>
                            </select>
                            <div *ngIf="form.controls['category'].errors?.['required'] && isSubmit"
                                class="div-msg-error mt-2">
                                <img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt="">
                                <p class="font-poppins font-size-14 m-0">Categoria / Segmento é obrigatório!</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 mt-3">
                            <label for="product"
                                class="font-archivo font-size-16 font-weight-medium text-secondary m-0"><b>Produtos</b></label>
                            <select formControlName="product" #product id="product" class="form-control br-10 h50">
                                <option disabled selected value="">Selecione</option>
                                <option *ngFor="let item of productList" [value]="item._id">{{item?.identifier}} -
                                    {{item?.product_name}}</option>
                            </select>
                            <div *ngIf="form.controls['product'].errors?.['required'] && isSubmit"
                                class="div-msg-error mt-2">
                                <img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt="">
                                <p class="font-poppins font-size-14 m-0">Produtos é obrigatório!</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 mt-3">
                            <label for="specification"
                                class="font-archivo font-size-16 font-weight-medium text-secondary m-0"><b>Especificação</b></label>
                            <input type="text" formControlName="specification" class="form-control h50 br-10" id="specification"
                                placeholder="Especificação">

                            <div *ngIf="form.controls['specification'].errors?.['required'] && isSubmit"
                                class="div-msg-error mt-2">
                                <img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt="">
                                <p class="font-poppins font-size-14 m-0">Especificação é obrigatória!</p>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="form-check cursor-pointer">
                                <input class="form-check-input cursor-pointer"
                                    style="height: 20px !important; width: 20px !important;"  
                                    formControlName="sustainable" type="checkbox" value="sustainable" id="sustainable">
                                <label class="form-check-label cursor-pointer pl-2 pt-1" for="sustainable">
                                    Marque aqui se o item for sustentável
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row d-flex justify-content-end">
                                    <div class="col-md-5">
                                        <button type="button" class="bg-transparent w-100 btn br-10 h50 color-pattern"
                                            [routerLink]="['/pages/itens-custo']"><strong>Cancelar</strong></button>
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit"
                                            class="btn bg-pattern text-light br-10 h50 w-100"><strong>Criar
                                                Item</strong></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>