<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>Proposta Aceita</h1>
            <hr class="bg-primary">
        </div>
    </div>
    <form>
        <div class="row mt-4 mb-0 ">
            <div class="col-md-11">
                <div class="row br-10 bg-blur  bg-opacity-50 border mx-0 br-16 p-3">
                    <div class="col-4">
                        <p>Nome
                            <th>Office suplice</th>
                        </p>
                        <p>CEP
                            <th>00000.000</th>
                        </p>
                    </div>
                    <div class="col-4 mb-0">
                        <p>Documento
                            <th>00.000.000/0000-00</th>
                        </p>
                        <p>Bairro
                            <th>Centro</th>
                        </p>
                    </div>
                    <div class="col-4 mb-0">
                        <p>Município
                            <th>São Bento do Norte</th>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form>
        <div class="row mt-4 mb-0 ">
            <div class="col-md-11">
                <div class="row br-10 bg-blur  bg-opacity-50 border mx-0 br-16 p-3">
                    <div class="col-md-12">
                        <h3>Representante Legal (Dados para contrato) </h3>
                        <hr class="bg-primary">
                    </div>
                    <div class="col-md-4">
                        <h6>Nome</h6>
                        <h6><strong>Office</strong></h6>
                    </div>
                    <div class="col-md-4">
                        <h6>CPF</h6>
                        <h6><strong>000.000.000-00</strong></h6>
                    </div>
                    <div class="col-md-4">
                        <h6>RG</h6>
                        <h6><strong>0000000</strong></h6>
                    </div>
                    <div class="col-md-12 mt-4">
                        <h3>Anexos</h3>
                        <hr class="bg-primary">
                    </div>
                    <div class="d-flex justify-content-between col-4">
                        <p>
                            Não há Anexos
                        </p>
                    </div>
                    <div class="col-md-12 mt-4">
                        <h3>Valor da Proposta</h3>
                        <hr class="bg-primary">
                    </div>
                    <div class="d-flex justify-content-between col-4">
                        <h6>Valor</h6>
                        <h6><strong>10,90</strong></h6>
                    </div>
                </div>
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th class="bg-pattern text-light br-tabele" scope="col">Item de Custo</th>
                            <th class="bg-pattern text-light" scope="col">Quantidade</th>
                            <th class="bg-pattern text-light br-tabele2" scope="col">Valor Unitário da cotação (R$)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border">
                            <td class="text-capitalize text-dark" scope="row">eeee</td>
                            <td class="text-capitalize text-dark">ooooo</td>
                            <td class="text-capitalize text-dark">eeeety</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row mb-5 mt-4">
                    <div class="col-md-12 d-flex justify-content-end px-0">
                        <div class="col-md-3">
                            <button class="btn br-10 border-light text-light  w-100 py-2" style="background-color: #F34C41;">
                                Reprovar Proposta
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn br-10 w-100 py-2 text-light" style="background-color: #2CCE71;">
                                Aprovar Proposta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>