.grid-45-55{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    min-height: 100vh;
  }
  .bg-redefine{
    background: rgb(83,116,135);
    background: radial-gradient(circle, rgba(83,116,135,1) 0%, rgba(58,89,109,1) 0%, rgba(83,116,135,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    
  }
  .email {
    background-image: url("../../../assets/images/icon-email.svg");
    background-position: 7px 7px;
    background-repeat: no-repeat;
  }
  .senha {
  background-image: url("../../../assets/images/icon-senha.svg");
  background-position: 7px 7px;
  background-repeat: no-repeat;
  }
  @media only screen and (max-width: 991px) {
    .grid-45-55{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      min-height: auto;
    }
  }
  